.container-00 {
  &.container-01 {
    background-image: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');


    .navHeader {
      height: 13vh;
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);

      .navbarOpt {
        width: 50%;
        margin: 0 0 0 60%;

        a {
          color: $light-blue;
          font-size: 1.6rem;
          font-weight: 600;
          // margin-left: 18px;

        }
      }
    }

    .textsDivs {
 
      display: flex;
      justify-content: space-around;
      // align-items: center;
      // background-color: #00ffff5b;
      .divTexts{
        margin-top: 100px;
        width: 700px;
        height: 500px;
        margin-left: 30px;
        .textsTitle{
          font-size: 4.6rem;
          color: $irresistible;
          text-transform: uppercase;
        }
      }
      .divsRow{
        width: 1080px;
        height: 800px;
        margin: -0 auto 0 auto;
        gap: 20px;
        // background-color: aqua;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px;
        justify-content: center;
        .colDivs{
          width: 330px;
          height: 350px;
          border-radius: 30px;
          
          background-repeat: no-repeat;
          background-size: cover;
          &.imgDivs-01{
            background-color:$light-blue ;
          //  background-image: url('https://images.pexels.com/photos/2362004/pexels-photo-2362004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          }
          &.imgDivs-02{
            background-color: $irresistible;
          //  background-image: url('https://images.pexels.com/photos/1366957/pexels-photo-1366957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          }
          &.imgDivs-03{
            background-color: $irresistible;
            
          //  background-image: url('https://images.pexels.com/photos/2362004/pexels-photo-2362004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          }
          &.imgDivs-04{
            background-color:$light-blue ;
          //  background-image: url('https://images.pexels.com/photos/2362004/pexels-photo-2362004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          }
          .titleCol{
            font-size: 2.6rem;
            color: $dark-cornflower-blue;
            text-align: center;
            margin-top: 3%;
          }
          p{
            font-size: 1rem;
            padding: 10px;
          }
        }
      }
    }
  }

}